---
	import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="container mx-auto px-8 mt-7 md:mt-12 md:px-28">
		<img class="w-12 md:w-16 mb-12" src="/images/profile.png" alt="kanu-chukwunonso-headshot">
		<div class="mt-5">
			<h2 class="text-2xl font-bold">Kanu Chukwunonso</h2>
			<p class="text-xs font-normal mt-1">Fullstack JavaScript Developer</p>
		</div>
		<div>
			<p class="text-md mt-10 font-normal leading-7 lg:w-3/5">
				Kanu Chukwunonso is a fullstack developer building out ideas and products on top of JavaScript. He’s currently open to collaboration with a team of like minded developers iterating on next generation software stacks and technology.
			</p>
		</div>
		<div class="flex mt-48 space-x-4 text-gray-500">
			<div>
				<a class="hover:text-gray-900" href="#"><p class="text-sm">Blog</p></a>
			</div>
			<div>
				<a class="hover:text-gray-900" href="https://www.linkedin.com/in/chukwunonso-kanu-b229301bb/" target="_blank"><p class="text-sm">LinkedIn</p></a>
			</div>
			<div>
				<a class="hover:text-gray-900" href="https://github.com/ChukwunonsoFrank" target="_blank"><p class="text-sm">GitHub</p></a>
			</div>
			<div>
				<a class="hover:text-gray-900" href="https://twitter.com/kanunonso_" target="_blank"><p class="text-sm">@kanunonso_</p></a>
			</div>
		</div>
	</div>
</Layout>